# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Binary assets.
*.blend binary
*.blend1 binary
*.glb binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.res binary
